/* Import external CSS file */
@import 'react-datepicker/dist/react-datepicker.css';

a{
  text-decoration: none;
  color: black;
}

/* Define a class for a horizontal line */
.line {
  width: 50%;
  height: 2px;
  background-color: black;
}

/* Define a class for a red background with white text */
.red {
  background-color: red;
  color: white;
}

/* Define styles for the main container */
.semantor-container {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  max-width: 90%;
  margin: 0 auto;
  color: #333;
  padding: 20px;
}

/* Define styles for the header section */
.semantor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.semantor-header h1 {
  font-size: 2rem;
  color: #333;
  margin: 0;
  font-weight: bold;
}

.semantor-user-icons {
  display: flex;
  align-items: center;
}

.user-icon,
.heart-icon {
  font-size: 1.5rem;
  margin: 0 10px;
  color: #333;
}

/* Define styles for the navigation section */
.semantor-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  background-color: #f8f8f8;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.nav-button {
  background: none;
  border: none;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin: 0 1px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  color: #333;
  font-weight: 500;
  text-transform: capitalize;
}

.nav-button:hover,
.nav-button.active {
  color: #fff;
  background-color: #00b5ad;
  border-radius: 20%;
}

/* Define styles for the body section */
.semantor-body {
  display: flex;
  margin-top: 20px;
}

.semantor-sidebar {
  width: 20%;
  font-size: 0.9rem;
  color: #4a4a4a;
}


.sidebar-item,
.sidebar-action {
  margin: 10px 0;
  cursor: pointer;
  font-weight: normal;
  text-decoration: none;
}

.sidebar-dropdown {
  margin-bottom: 20px;
}

.sidebar-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: #00b5ad;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sidebar-action:hover {
  background-color: rgba(0, 181, 173, 0.1);
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  background: white;
  border: 1px solid #e6e6e6;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 5px;
  padding: 15px;
  transition: all 0.3s ease-out;
}

.dropdown-content label {
  display: block;
  margin-bottom: 10px;
  color: #333;
  font-size: 0.9rem;
}

.dropdown-content input[type="date"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.dropdown-content input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: #333;
  width: 25px;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
} 

.dropdown-content input[type="checkbox"]:checked:before {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background-color: #00b5ad;
}

.history-item {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
  color: #333;
  font-size: 0.9rem;
}

.history-item-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70%;
}

.history-item-date {
  white-space: nowrap;
}

.history-item:last-child {
  border-bottom: none;
}

.semantor-main {
  flex-grow: 1;
  padding-left: 50px;
}

.search-type-buttons {
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  width: auto; 
  justify-content: start; 
}

.search-type-button {
  background: none;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 10px 20px;
  margin-right: 10px; 
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}

.search-type-button.active {
  background-color: #00b5ad;
  color: white;
  border-color: #00b5ad;
}

.search-section {
  display: flex;
  flex-direction: column;
}

.search-input {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 10px 20px;
}

.search-input input {
  flex-grow: 1;
  border: none;
  background: none;
  margin: 0 10px;
  font-size: 1rem;
  outline: none;
}

.calendar-icon,
.search-icon {
  color: #00b5ad;
  font-size: 1.5rem;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  display: block; 
}

.search-input {
  position: relative; 
}

.calendar-icon {
  cursor: pointer; 
}

.filter-submit-button {
  padding: 10px 15px;
  margin-top: 15px; 
  background-color: #00b5ad; 
  color: white; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  font-weight: bold; 
  text-transform: uppercase; 
  transition: background-color 0.3s ease; 
  width: 100%; 
  box-sizing: border-box; 
}

.filter-submit-button:hover {
  background-color: #008c8a; 
}

.search-result {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  padding: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s, transform 0.3s;
  border-left: 4px solid #00b5ad; 
}

.search-result:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px); 
}

.search-result-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.icon-heart,
.icon-info {
  font-size: 1.5em;
  color: #00b5ad;
  margin-right: 8px;
}

.search-result-title-section {
  flex-grow: 1; 
}

.search-result-subtitle {
  font-size: 0.8rem; 
  color: #666; 
  margin-top: 4px; 
  display: flex;
  flex-direction: row; 
}

.search-result-subtitle > span {
  margin-right: 8px; 
}

.search-result-title {
  font-weight: 600;
  font-size: 1em;
  color: #333;
  flex-grow: 1; 
}

.search-result-meta {
  display: flex;
  align-items: center;
  flex-shrink: 0; 
}

.search-result-number {
  font-size: 0.9em;
  color: #999;
  margin-right: 8px;
}

.button-open {
  background-color: #00b5ad;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.search-result-description {
  font-size: 0.9em;
  color: #666;
  line-height: 1.4;
  margin-bottom: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 20; 
  -webkit-box-orient: vertical;
  max-height: 4.8em; 
}

.search-result-actions {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; 
}

.button-open,
.search-result-action {
  background-color: #fff; 
  color: #00b5ad; 
  border: 2px solid #00b5ad; 
  padding: 6px 12px;
  border-radius: 4px; 
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold; 
  margin-right: 8px; 
  margin-bottom: 8px; 
  transition: all 0.3s ease; 
}

.button-open:hover,
.search-result-action:hover {
  background-color: #00b5ad; 
  color: #fff; 
  border-color: #00796b; 
}

.icon-heart-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.icon-heart.liked {
  color: red; 
}

.icon-heart-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.icon-heart {
  font-size: 1.5rem; 
  transition: color 0.3s; 
}

.icon-heart.liked,
.icon-heart.liked.like-animation {
  color: #e74c3c; 
}

.like-animation {
  animation: likeAnimation 0.6s ease forwards;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 1000;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 999;
}

.close-button {
  background-color: #00b5ad; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 4px; 
  font-weight: bold; 
  cursor: pointer; 
  outline: none; 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s ease, box-shadow 0.3s ease; 
  position: absolute; 
  top: 10px; 
  right: 10px; 
}

.close-button:hover {
  background-color: #008c8a; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
}

.close-button:focus {
  outline: none; 
}

.download-button {
  background-color: #00b5ad; 
  color: white; 
  border: none; 
  padding: 12px 24px; 
  border-radius: 8px; 
  font-weight: 600; 
  cursor: pointer; 
  font-size: 1em; 
  margin-left: auto; 
  display: block; 
  width: fit-content; 
  transition: background-color 0.3s, transform 0.2s; 
}

.download-button:hover {
  background-color: #00796b; 
  transform: translateY(-2px); 
}

@keyframes likeAnimation {
  0%, 100% {
    transform: scale(1); 
  }
  50% {
    transform: scale(1.3); 
  }
}

@media (max-width: 768px) {
  .search-result-actions {
    justify-content: center;
  }
}
