body,
html,
#root,
.App {
  margin: 0;
  padding: 0;
  height: 100%;
}

@import "react-datepicker/dist/react-datepicker.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* For Webkit browsers like Chrome, Safari, and new Edge */
::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #00b5ad;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #009688;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #00b5ad transparent;
}

a {
  text-decoration: none;
  color: black;
}

.line {
  width: 50%;
  height: 2px;
  background-color: black;
}

.red {
  background-color: red;
  color: white;
}

.semantor-container {
  font-family: "Helvetica Neue", Arial, sans-serif;
  max-width: 90%;
  margin: 0 auto;
  color: #333;
  padding: 20px;
}

.semantor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.semantor-header h1 {
  font-size: 2rem;
  color: #333;
  margin: 0;
  font-weight: bold;
}

.semantor-user-icons {
  display: flex;
  align-items: center;
}

.user-icon,
.heart-icon {
  font-size: 1.5rem;
  margin: 0 10px;
  color: #333;
}

.semantor-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  background-color: #f8f8f8;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.nav-button {
  background: none;
  border: none;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin: 0 1px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  color: black;
  font-weight: 500;
  text-transform: capitalize;
  background-color: #fff;
  border-radius: 20%;
}

.nav-button.active {
  color: white;
  background-color: #00b5ad;
}

.semantor-body {
  display: flex;
  margin-top: 20px;
}

.semantor-sidebar {
  width: 10%;
  font-size: 0.9rem;
  color: #4a4a4a;
}

.sidebar-item,
.sidebar-action {
  margin: 10px 0;
  cursor: pointer;
  font-weight: normal;
  text-decoration: none;
}

.sidebar-dropdown {
  margin-bottom: 20px;
}

.sidebar-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: #00b5ad;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sidebar-action:hover {
  background-color: rgba(0, 181, 173, 0.1);
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  background: white;
  border: 1px solid #e6e6e6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 15px;
  transition: all 0.3s ease-out;
}

.dropdown-content label {
  display: block;
  margin-bottom: 10px;
  color: #333;
  font-size: 0.9rem;
}

.dropdown-content input[type="date"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.dropdown-content input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: #333;
  width: 25px;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.dropdown-content input[type="checkbox"]:checked:before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background-color: #00b5ad;
}

.semantor-main {
  flex-grow: 1;
  margin-left: 3%;
}

.search-type-buttons {
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  width: auto;
  justify-content: start;
}

.search-type-button {
  background: none;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}

.search-type-button.active {
  background-color: #00b5ad;
  color: white;
  border-color: #00b5ad;
}

.search-section {
  display: flex;
  flex-direction: column;
}

.search-input {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 10px 20px;
  border: 2px solid #00b5ad;
}

.search-input input {
  flex-grow: 1;
  border: none;
  background: none;
  margin: 0 10px;
  font-size: 1rem;
  outline: none;
  font-family: "Poppins", sans-serif;
}

.search-input textarea {
  font-family: "Poppins", sans-serif;
  flex-grow: 1;
  border: none;
  background: none;
  margin: 0 10px;
  font-size: 1rem;
  outline: none;
  resize: none;
  min-height: 40px;
  max-height: 320px;
}


.calendar-icon,
.search-icon {
  color: #00b5ad;
  font-size: 1.5rem;
  cursor: pointer;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  display: block;
}

.search-input {
  position: relative;
}

.calendar-icon {
  cursor: pointer;
}

.filter-submit-button {
  padding: 10px 15px;
  margin-top: 15px;
  background-color: #00b5ad;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}

.filter-submit-button:hover {
  background-color: #008c8a;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255,
      255,
      255,
      0.9);
  z-index: 100;
}